@import "tailwindcss";

body{
    background-color: black;
}

h1{
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
p{
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 208;
    font-style: normal;
}
a{
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
button{
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}